<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAZ_fPG4r5GwrRad1fXa8V3hMTv9-br-M</string>
	<key>GCM_SENDER_ID</key>
	<string>969778933714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-8c9ef</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-8c9ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969778933714:ios:0b420004b010c9ad2e620b</string>
</dict>
</plist>